<div class="container-fluid">

    <div class="row d-flex align-items-center ">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <!-- botões de acesso -->
                    <h1 class="text center">Entrar</h1>

                    <div class="form-group">
                        <label for="usuario">Usuário</label>
                        <input type="email" placeholder="Digite seu e-mail" id="usuario" class="form-control" [(ngModel)]="usuarioLogin.usuario">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" placeholder="Sua senha" id="senha" class="form-control" 
                        [(ngModel)]="usuarioLogin.senha">
                    </div>

                    <div class="d-flex justify-content-center ">
                        <button type="submit" class="btn bg-info" (click)="entrar()">Entrar</button>
                    </div>

                    <hr class="mt-5 mb-5">

                    <p class="text-center">
                        Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
                    </p>
                </div>

            </div>
        </div>


        <div class="col-md-6" id="bg-img">
            <!-- imagem -->
        </div>
    </div>